<%- include('../partials/header'); %>


    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="product-details-page-content">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <!-- Start Product Thumbnail Area -->
                            <div class="col-md-5">
                                <div class="product-thumb-area">
                                    <div class="product-details-thumbnail">
                                        <div class="product-thumbnail-slider" id="thumb-gallery">
                                            <figure class="pro-thumb-item" data-mfp-src="/<%= product[0].image[0] %>">
                                                <img src="/<%= product[0].image[0] %>" alt="Product Details" />
                                            </figure>
                                            <figure class="pro-thumb-item" data-mfp-src="/<%= product[0].subImage4 %>">
                                                <img src="/<%= product[0].subImage1 %>" alt="Product Details" />
                                            </figure>
                                            <figure class="pro-thumb-item" data-mfp-src="/<%= product[0].subImage2 %>">
                                                <img src="/<%= product[0].subImage2 %>" alt="Product Details" />
                                            </figure>
                                            <figure class="pro-thumb-item" data-mfp-src="/<%= product[0].subImage3 %>">
                                                <img src="/<%= product[0].subImage3 %>" alt="Product Details" />
                                            </figure>
                                            <figure class="pro-thumb-item" data-mfp-src="/<%= product[0].subImage4 %>">
                                                <img src="/<%= product[0].subImage4 %>" alt="Product Details" />
                                            </figure>
                                        </div>

                                        <a href="#thumb-gallery" class="btn-large-view btn-gallery-popup">View Larger <i
                                            class="fa fa-search-plus"></i></a>
                                    </div>

                                    <div class="product-details-thumbnail-nav">
                                        <figure class="pro-thumb-item">
                                            <img src="/<%= product[0].subImage1 %>" alt="Product Details" />
                                        </figure>
                                        <figure class="pro-thumb-item">
                                            <img src="/<%= product[0].subImage2 %>" alt="Product Details" />
                                        </figure>
                                        <figure class="pro-thumb-item">
                                            <img src="/<%= product[0].subImage3 %>" alt="Product Details" />
                                        </figure>
                                        <figure class="pro-thumb-item">
                                            <img src="/<%= product[0].subImage4 %>" alt="Product Details" />
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Thumbnail Area -->

                            <!-- Start Product Info Area -->
                            <div class="col-md-7" style="text-align: right;">
                                <div class="product-details-info-content-wrap">
                                    <div class="prod-details-info-content">
                                        <h2 lang="ar" dir="rtl"><%= product[0].productName %></h2>
                                        <h5 class="price"><span class="price-amount"><%= product[0].brandName %><strong> :ناوی براند</strong></span>
                                        </h5>
                                        <pre style="font-weight: 700; font-size: 18px;" lang="ar" dir="rtl"><strong><%= product[0].description %></strong></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Info Area -->
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Wrapper ==-->

    <%- include('../partials/footer'); %>
