<div class="wrapper">
  <!-- START HEADER AREA -->
  <%- include('../index_include/header'); %>
  <!-- END HEADER AREA -->

  <!-- START MOBILE MENU AREA -->
  <%- include('../index_include/mobile_menu'); %>
  <!-- END MOBILE MENU AREA -->

  <!-- START SLIDER AREA -->
  <%- include('../index_include/slider'); %>
  <!-- END SLIDER AREA -->

  <!-- START PAGE CONTENT -->
  <%- include('../index_include/page_content'); %>
  <!-- END PAGE CONTENT -->

  <!-- START FOOTER AREA -->
  <%- include('../partials/footer'); %>
  <!-- END FOOTER AREA -->

  <!-- START QUICKVIEW PRODUCT -->
  <%- include('../index_include/quickview_product'); %>
  <!-- END QUICKVIEW PRODUCT -->

  <!--style-customizer start -->

  <!--style-customizer end -->
</div>
<!-- Body main wrapper end -->

<!-- Placed JS at the end of the document so the pages load faster -->

<%- include('../partials/scripts'); %>
