<section id="page-content" class="page-wrapper section">
  <!-- PRODUCT TAB SECTION START -->
  <%- include('../index_include/product'); %>
  <!-- PRODUCT TAB SECTION END -->

  <!-- BANNER-SECTION START -->
  <%- include('../index_include/banner'); %>
  <!-- BANNER-SECTION END -->

  <!-- FEATURED PRODUCT SECTION START -->
  <%- include('../index_include/featured_product'); %>
  <!-- FEATURED PRODUCT SECTION END -->

  <!-- UP COMMING PRODUCT SECTION START -->
  <%- include('../index_include/up_product'); %>
  <!-- UP COMMING PRODUCT SECTION END -->

  <!-- BLOG SECTION START -->
  <%- include('../index_include/blog'); %>
  <!-- BLOG SECTION END -->

  <!-- NEWSLETTER SECTION START -->
  <%- include('../index_include/newsletter'); %>
  <!-- NEWSLETTER SECTION END -->
</section>
