<div class="products-area-wrapper sm-top">
    <div class="container container-wide">
        <div class="row">
            <div class="col-lg-5 m-auto text-center">
                <div class="section-title">
                    <h2 class="h3">Our Newest Work</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-wrapper columns-5">
                    <!-- Start Product Item -->
                    <% carBeautifings.forEach(function(product) { %>
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="/singleCarBeautifing?id=<%= product._id %>&categoreyId=<%= product.categories %>">
                                    <img class="thumb-primary" src="/<%= product.image[0] %>" alt="Product" />
                                    <% if(product.subImage1) {%>   
                                    <img class="thumb-secondary" src="/<%= product.subImage1 %>" alt="Product" />
                                    <% } %> 
                                </a>
                            </div>
                            <div class="product-item__content">
                                <h4 class="title" lang="ar" dir="rtl"><a href="/singleCarBeautifing?id=<%= product._id %>&categoreyId=<%= product.categories %>"><%= product.productName %></a></h4>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                    <!-- End Product Item -->
                </div>
            </div>
        </div>
    </div>
</div>