<div class="up-comming-product-section pt-60">
    <div class="container">
        <div class="row">
            <!-- up-comming-pro -->
            <div class="col-lg-8">
                <div class="up-comming-pro gray-bg up-comming-pro-2 clearfix">
                    <div class="up-comming-pro-img f-left">
                        <a href="#">
                            <% if(locals.dummyProducts) { %>

                                <img src="uploads/product/<%= dummyProducts[0].image[0]%>" alt="" style="width:408px; height: 350px;" />
                                <% } %>

                        </a>
                    </div>
                    <div class="up-comming-pro-info f-left">
                        <h3>
                            <a href="#">
                                <%= dummyProducts[0].productName%>
                            </a>
                        </h3>
                        <p>
                            <%= dummyProducts[0].description%>
                        </p>
                        <div class="up-comming-time-2 clearfix">
                            <div data-countdown="2019/01/15"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-block d-md-none d-lg-block">
                <div class="banner-item banner-1">
                    <div class="ribbon-price">
                        <span><%= dummyProducts[0].price%></span>
                    </div>
                    <div class="banner-img">
                        <% if(locals.dummyProducts) { %>

                            <a href="#"><img src="uploads/product/<%= dummyProducts[0].image[1]%>" alt="" style="width:370px; height: 350px" /></a>
                    </div>
                    <div class="banner-info">
                        <h3>
                            <a href="#">
                                <%= dummyProducts[0].productName%>
                            </a>
                        </h3>
                        <% } %>
                            <!-- <ul class="banner-featured-list">
                                <li>
                                    <i class="zmdi zmdi-check"></i><span>Lorem ipsum dolor</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check"></i><span>amet, consectetur</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check"></i><span>adipisicing elitest,</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check"></i><span>eiusmod tempor</span>
                                </li>
                                <li>
                                    <i class="zmdi zmdi-check"></i><span>labore et dolore.</span>
                                </li>
                            </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>