<% if(locals.product) { %>

    <style>
        .breadcrumbs {
            background: #f6f6f6 url('/uploads/background/<%= product[0].backgroundImageForProduct %>') no-repeat scroll center center;
        }
    </style>
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- START HEADER AREA -->
        <%- include('./header'); %>
            <!-- END HEADER AREA -->

            <!-- START MOBILE MENU AREA -->
            <%- include('./mobile_menu'); %>
                <!-- END MOBILE MENU AREA -->
                <!-- BREADCRUMBS SETCTION START -->
                <!-- <div class="breadcrumbs-section plr-200 mb-80 section">
                    <div class="breadcrumbs overlay-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="breadcrumbs-inner">
                                        <h1 class="breadcrumbs-title">
                                            <%= product[0].productName %>
                                        </h1>
                                        <ul class="breadcrumb-list">
                                            <li><a href="/">Home</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <% } %>
                    <!-- BREADCRUMBS SETCTION END -->

                    <!-- Start page content -->
                    <section id="page-content" class="page-wrapper section">
                        <!-- SHOP SECTION START -->
                        <div class="shop-section mb-80">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- single-product-area start -->
                                        <div class="single-product-area mb-80">
                                            <div class="row">
                                                <!-- imgs-zoom-area start -->
                                                <!-- imgs-zoom-area start -->
                                                <div class="col-lg-5">
                                                    <div class="imgs-zoom-area">
                                                        <% if(product[0].image != null) { %>
                                                            <img id="zoom_03" src="uploads/product/<%= product[0].image[0]%>" data-zoom-image="uploads/product/<%= product[0].image[0]%>" alt="" />
                                                            <% } %>
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
                                                                            <div class="p-c">
                                                                                <% if(product[0].subImage1 != null) { %>
                                                                                    <a href="#" data-image="uploads/subImage/<%= product[0].subImage1[0]%>" data-zoom-image="uploads/subImage/<%= product[0].subImage1[0]%>">
                                                                                    <img class="zoom_03" src="uploads/subImage/<%= product[0].subImage1[0]%>" alt="">
                                                                                </a>
                                                                                    <% } %>
                                                                            </div>
                                                                            <div class="p-c">
                                                                                <% if(product[0].subImage2 != null) { %>
                                                                                    <a href="#" data-image="uploads/subImage/<%= product[0].subImage2[0]%>" data-zoom-image="uploads/subImage/<%= product[0].subImage2[0]%>">
                                                                                    <img class="zoom_03" src="uploads/subImage/<%= product[0].subImage2[0]%>" alt="">
                                                                                </a>
                                                                                    <% } %>
                                                                            </div>
                                                                            <div class="p-c">
                                                                                <% if(product[0].subImage3 != null) { %>
                                                                                    <a href="#" data-image="uploads/subImage/<%= product[0].subImage3[0]%>" data-zoom-image="uploads/subImage/<%= product[0].subImage3[0]%>">
                                                                                    <img class="zoom_03" src="uploads/subImage/<%= product[0].subImage3[0]%>" alt="">
                                                                                </a>
                                                                                    <% } %>
                                                                            </div>
                                                                            <div class="p-c">
                                                                                <% if(product[0].subImage4 != null) { %>
                                                                                    <a href="#" data-image="uploads/subImage/<%= product[0].subImage4[0]%>" data-zoom-image="uploads/subImage/<%= product[0].subImage4[0]%>">
                                                                                    <img class="zoom_03" src="uploads/subImage/<%= product[0].subImage4[0]%>" alt="">
                                                                                </a>
                                                                                    <% } %>
                                                                            </div>
                                                                            <div class="p-c">
                                                                                <% if(product[0].subImage4 != null) { %>
                                                                                    <a href="#" data-image="uploads/subImage/<%= product[0].subImage4[0]%>" data-zoom-image="uploads/subImage/<%= product[0].subImage4[0]%>">
                                                                                    <img class="zoom_03" src="uploads/subImage/<%= product[0].subImage4[0]%>" alt="">
                                                                                </a>
                                                                                    <% } %>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                </div>
                                                <!-- imgs-zoom-area end -->
                                                <!-- single-product-info start -->
                                                <% if(locals.product) { %>
                                                    <div class="col-lg-7">
                                                        <div class="single-product-info">
                                                            <h3 class="text-black-1">
                                                                <%= product[0].productName%>
                                                            </h3>

                                                            <h5 class="brand-name-2"> Model:
                                                                <span><%= product[0].brandName%></span>
                                                            </h5>
                                                            <!--  hr -->
                                                            <hr />
                                                            <!-- single-pro-color-rating -->

                                                            <!-- single-product-price -->
                                                            <h3 class="pro-price">Price: $
                                                                <%= product[0].price%>
                                                            </h3>
                                                            <!--  hr -->
                                                            <hr />
                                                            <div>
                                                                <pre class="justify">
                                                                    <%= product[0].description%>
                                                                </pre>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <!-- single-product-info end -->
                                            </div>
                                            <!-- single-product-tab -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <!-- hr -->
                                                    <hr />
                                                    <div class="single-product-tab reviews-tab">
                                                        <ul class="nav mb-20">
                                                            <li>
                                                                <a class="active" href="#description" data-toggle="tab">description</a>
                                                            </li>
                                                            <li>
                                                                <a href="#information" data-toggle="tab">information</a>
                                                            </li>
                                                            <li>
                                                                <a href="#driver" data-toggle="tab">driver</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div role="tabpanel" class="tab-pane active show" id="description">
                                                                <pre class="justify">
                                                                    <%= product[0].description%>
                                                                </pre>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane" id="information">
                                                                <pre class="justify">
                                                                    <%= product[0].information%>
                                                                </pre>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane" id="driver">
                                                                <p class="justify">
                                                                    <%= product[0].fileSetUp%>
                                                                        <a href="/fileSetUp/myImage-1623713028947.zip" download>click download</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--  hr -->
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-area end -->
                                        <div class="related-product-area">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="section-title text-left mb-40">
                                                        <h2 class="uppercase">related product</h2>
                                                        <h6>There are many variations of passages of brands available,</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="active-related-product">
                                                <!-- product-item start -->
                                                <% relatedProducts.forEach(function(relatedProduct) { %>
                                                    <div class="col-lg-12">
                                                        <div class="product-item">
                                                            <div class="product-img">
                                                                <a href="/single_product?id=<%= relatedProduct._id %>&categoreyId=<%= relatedProduct.categories._id %>">
                                                                    <img src="uploads/product/<%= relatedProduct.image[0]%>" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="product-info">
                                                                <h6 class="product-title">
                                                                    <a href="/single_product?id=<%= relatedProduct._id %>&categoreyId=<%= relatedProduct.categories._id %>">
                                                                        <%= relatedProduct.productName %>
                                                                    </a>
                                                                </h6>
                                                                <h3 class="pro-price">
                                                                    <%= relatedProduct.price %>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }); %>
                                                        <!-- product-item end -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SHOP SECTION END -->
                    </section>
                    <!-- End page content -->

                    <!-- START FOOTER AREA -->
                    <%- include('../partials/footer'); %>
                        <!-- END FOOTER AREA -->
    </div>
    <!-- Body main wrapper end -->